
@define-mixin container {
  max-width: 80rem;
  width: 100%;
}

@define-mixin section-padding {
  padding: 3rem $size-padding;
}

@define-mixin section-container {
  @add-mixin container;
  @add-mixin section-padding;
}

@define-mixin page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}